@model TobaccoNicotineApplication.Models.IndexViewModel

@{
    ViewBag.Title = "Profile";
    ViewBag.PageTitle = "Profile";
    ViewBag.TitlePrincipal = "Change Account Settings";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<div class="panel panel-color panel-dark">
    <div class="panel-heading">
        <h3 class="panel-title">Profile Summary</h3>
    </div>
    <div class="panel-body">

        <div>
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @Html.ActionLink("Change password", "ChangePassword")
                    ]
                </dd>
                <dt>Photo:</dt>
                <dd>
                    [
                    @if (Model.HasPhoto)
                    {
                        @Html.ActionLink("Change profile picture", "ChangePhoto")
                    }
                    else
                    {
                        @Html.ActionLink("Load profile picture", "ChangePhoto")
                    }
                    ]
                </dd>
            </dl>
        </div>

    </div>
</div>
